.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header {
  height: 70px;
  font-size: 2rem;
  width: calc(100%-60px);
  padding: 0 30px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  background-color: #306674;
  color: white;
}
.panels {
  flex: 1;
  display: flex;
  padding: 0 30px;
  width: calc(100%-60px);
}
