.LeftPanel {
  flex: 1;
  padding: 0 20px;
}
.LeftPanelChip {
  cursor: pointer;
  padding: 5px 20px;
  margin: 10px 0;
  border: 2px solid #306674;
}
.LeftPanelChip div:first-child {
  font-weight: bolder;
}
